.shows {
  padding: 3%;
}

.shows > h1 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.container{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}
