.carousel{
    height: 300px;
    display: flex;
    align-items: center;
    gap:20px;
    width: 100%;
    overflow-x: scroll;
}
.carousel > img{
    min-width: 40%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 40%;
    border-radius: 20px;
   

}

.carousel::-webkit-scrollbar{
    display: none;
}

@media (max-width:768px) {
    .carousel > img{
        min-width: 80%;
    }
}