.spotlight{
    padding: 3%;
    width: 100%;
       
}


.spotlight > h1 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    height: 100%;
    overflow-x:scroll ;
}

.container::-webkit-scrollbar{
    display: none;
}


.container > img{
    width: 45%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width:768px) {
    .container > img {
        width: 90%;
    }
}